@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Noto Sans KR", 
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mono-1: #fafafa;
  --mono-2: #eaeaea;
  --mono-3: #999;
  --mono-4: #888;
  --mono-5: #666;
  --mono-6: #444;
  --mono-7: #333;
  --mono-8: #111;
  --blue: #06c;

  /* -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--mono-8);
  background: var(--mono-2);
}

::selection {
  color: var(--mono-8);
  background: var(--mono-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none !important;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}
